.color-view{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	display: inline;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding:10px;
	text-shadow: 2px 2px 2px black;
}

.rules{
    width: 500px;
	height: 200px;
}
